#loginScreen {
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: #c2c2c2;
    background-color: #252525;
    background-image: url(./ui/mimes/logo/logo.svg);
    background-position: 0 1rem;
    background-size: 21rem 21rem;
    background-repeat: no-repeat;
    align-content: center;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4rem;
    font-weight: bold;
    /* min-width: 1200px; */
    /* fix background color issue when horizontal scrollbar is present - caused buttons to not wrap, not sure how to fix */
}

#loginScreen > * {
    margin: 0 0 0 21rem;
}

#loginScreen > p {
    font-size: 2rem;
    line-height: 2.5;
}

#loginScreen a {
    text-decoration: none;
    display: inline-block;
    padding: 6px 12px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2rem;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

#loginScreen #facebook {
    color: #ffffff;
    background-color: #428bca;
    border-color: #357ebd;
}

#loginScreen #twitter {
    color: #ffffff;
    background-color: #5bc0de;
    border-color: #46b8da;
}

#loginScreen #google {
    color: #ffffff;
    background-color: #d9534f;
    border-color: #d43f3a;
}
