html, body {
    margin: 0;
    padding: 0 1rem;
    border: 0;
    color: #c2c2c2;
    background-color: #252525;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: #f1bc78;
    text-decoration: none;
}

body:before {
    content: '';
    background-image: url(./ui/mimes/logo/logo.svg);
    background-size: 15rem 15rem;
    background-repeat: no-repeat;
    height: 15rem;
    width: 15rem;
    float: left;
}

#loginScreen {
    z-index: 1000;
    text-align: left;
    font-size: 3rem;
    font-weight: bold;
    margin: 0 0 0 15rem;
}

#loginScreen > p {
    font-size: 1.5rem;
    line-height: 2.5;
}

#loginScreen > p > a {
    text-decoration: none;
    display: inline-block;
    padding: .5rem 1rem;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
}

#loginScreen #facebook {
    color: #ffffff;
    background-color: #428bca;
    border-color: #357ebd;
}

#loginScreen #twitter {
    color: #ffffff;
    background-color: #5bc0de;
    border-color: #46b8da;
}

#loginScreen #google {
    color: #ffffff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

#loginScreen > footer {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    font-size: 1rem;
}

#loginScreen > footer a:not(:last-child):after {
    content: '\a0|'
}
